<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 heading_area">
            <img class="col-md-12" src="~/Images/logo.png" />
            <div class="navbar navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @*@Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })*@
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                            <li><a href="http://www.ecb.org.na/">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">ECB Profile</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Board Members</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Management</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Staff</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Electricity <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Economic Regulation</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Tarifs</a></li>
                                        </ul>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Regulatory Support Services</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Technical Regulation</a></li>
                                </ul>
                            </li>
                            <li><a href="http://www.ecb.org.na/">Documents</a></li>
                            <li><a href="http://www.ecb.org.na/index.php?option=com_content&view=article&id=60&Itemid=194">Tenders</a></li>
                            <li><a href="http://www.ecb.org.na/index.php?option=com_content&view=article&id=57&Itemid=332">Vacancies</a></li>
                            <li><a href="http://www.ecb.org.na/index.php?option=com_content&view=article&id=70&Itemid=246">ECB Gallery</a></li>
                            <li><a href="http://www.ecb.org.na/">Contact</a></li>
                        </ul>
                        @*@Html.Partial("_LoginPartial")*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 middle_area">
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <center><p>&copy; @DateTime.Now.Year - ECB Customer Complaints Handling System {Developed by D. Maasz}</p></center>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
